{{#isHeaderParam}}{{#required}}@NotNull {{/required}}@Header("{{baseName}}") {{#description.length}}@Description("{{{description}}}") {{/description.length}}{{{dataType}}} {{paramName}}{{/isHeaderParam}}