{{#isQueryParam}}@Param("{{baseName}}") {{#required}}@NotNull {{/required}}{{#description.length}}@Description("{{{description}}}") {{/description.length}}{{{dataType}}} {{paramName}}{{/isQueryParam}}